<!-- Name: Andrea Cavalcanti Nascimento | Student Number: 301250129
Date: Oct 21th, 2022 -->

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
  </nav>