<!-- Name: Andrea Cavalcanti Nascimento | Student Number: 301250129
Date: Oct 21th, 2022 -->

<!-- CSS -->
<link rel="stylesheet" href="./styles/about.css" />
<title>About</title>
<h1 class="title"><%= title %></h1> 
<!-- main container -->
    <div class="main-container">
        <!-- profile picture -->
        <div class="img-container">
            <img class="img-circle" src="./content/images/Circle.png" alt="Circle">
            <img class="img-profile" src="./content/images/Andrea.png" alt="Andrea">
            <p class="para-name">Andrea Cavalcanti</p>            
        </div>      

        <!-- self-description -->
        <div class="desc-container">
            <p>
                I am a tech professional with an engineering and programming background. 
                I'm also savvy about Software Development Life Cycle (SDLC), JS and jQuery, 
                C#.Net, Java, HTML, CSS, SQL, UNIX/LINUX, and basic comprehension in Python.                 
            </p>
            <p>I have knowledge of Agile Methodologies (Scrum Master certified).</p>
         </div>
    </div>    
        
    <!-- resume + contact btn-->
    <div class="section-container">
        <h2 class="downl">Please Download my Resume: </h2> 
    
        <a href="./content/assets/andrea_cavalcanti_resume.pdf">
        <input class="btn-resume" type="Submit" value="Download" onclick="clickCResume()">
        </a>
        <input class="btn-contact" type="Submit" value="Contact Me" onclick="clickContact()">   
    </div>

    <!-- java script -->
    <script src="./scripts/app.js"></script>    
