<!-- Name: Andrea Cavalcanti Nascimento | Student Number: 301250129
Date: Oct 21th, 2022 -->

<!-- CSS -->
<link rel="stylesheet" href="./styles/home.css" />
<title>Home</title>

<!-- main container -->
<div class="main-container">
    <!-- all content container -->
    <div class="content-container">
        <h1 class="title"><%= title %></h1>
            
        <!-- description container -->
        <div class="desc-container">
            <h2 class="description">I'm Andrea Cavalcanti, 
                a Software Developer specialized in 
                website and software creation.
            </h2> 
        </div>  
        
        <!-- mission container -->
        <div class="mission-container">
            <h3 class="mission">Mission:</h3>
            <p class="para-mission">Continuous improvement is my mindset.</p>
            <p class="para-mission">My vision is to strive to be the best version of myself constantly,
                with my health, my family&friends and my professional life.</p>
        </div>
            
        <!-- button container -->
        <div class="btn-container">  
        <h4 class="learn">Learn More</h4>    
            <input class="btn-about" type="submit" value="About Me" onclick="clickAbout()">
        </div>
    </div>
        
    <!-- logo -->
    <img class="img-logo" src="./content/images/Logo.png" alt="Logo">
</div>

<!-- java script -->
<script src="./scripts/app.js"></script>  




