<!-- Name: Andrea Cavalcanti Nascimento | Student Number: 301250129
Date: Oct xxth, 2022 -->

<!-- CSS -->
<link rel="stylesheet" href="./styles/services.css" />
<title>Services</title>

<h1 class="title" ><%= title %></h1>

<!-- list of services -->
<div class="container-services1">
    <img class="img-services" src="./content/images/laptop.jpg" alt="Laptop">
    <ul class="list-style">        
        <li>General Programming</li>
        <li>Custom Website Development</li>
        <li>Software Application Development</li>
    </ul> 
</div>

<div class="container-services2">
    <ul class="list-style">        
        <li>Create Digital solutions to problems</li>
        <li>Enhance Flexibility</li>
        <li>Boost Productivity</li>
    </ul> 
    <img class="img-services" src="./content/images/lego.jpg" alt="Lego">
</div>

